<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592363306792-6a31pvurab8k3fkvj5plsee3le09nk0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592363306792-6a31pvurab8k3fkvj5plsee3le09nk0l</string>
	<key>API_KEY</key>
	<string>AIzaSyACWqmdOeWO4XcGcWX-V91UZZ8JQWa1cvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>592363306792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DaneJApps.BrokeBet</string>
	<key>PROJECT_ID</key>
	<string>brokebet</string>
	<key>STORAGE_BUCKET</key>
	<string>brokebet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592363306792:ios:50df84c52a07c683889a1d</string>
</dict>
</plist>